body {
  background-color: #fff;
  color: #000;
}

body .dark-mode {
  background-color: #121212;
  color: #fff;
}

.App {
  text-align: center;
  animation: fadeIn 1s;
  -webkit-animation: fadeIn 1s;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
    -webkit-animation: App-logo-spin infinite 20s linear;
}
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -ms-transform: rotate(360deg);
    -o-transform: rotate(360deg);
}
}


@media (max-width: 768px) {
  .weekly-forecast {
    flex-direction: column;
  }

  .forecast-card {
    max-width: 100%;
  }
}


@keyframes fadeIn {
  from { opacity: 0; }
  to { opacity: 1; }
}


.dark-mode {
  background-color: #121212;
  color: #ffffff;
}

.dark-mode .forecast-card {
  background-color: #1e1e1e;
}